@charset "UTF-8";


@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section#board-container{width:100%; margin:0 auto; text-align:center; background:  #f8f9fa;}
section#board-container h2{margin:10px 0;}

div#banner{display:block;}
ul.ulbanner{list-style:none; display:flex; flex-wrap: wrap; background: skyblue;}
li.libannerall{margin-left:250px;}
div.banner2{display:flex;}
section.secbanner{display:flex; margin-left:100px;}
div.bannerright{display:flex; margin:10px;}
div.bannerright1{display:flex; font-size:27px; margin:10px;cursor:pointer; transition: all 0.25s;}
div.bannerright2{display:flex; font-size:27px; margin:10px;cursor:pointer; transition: all 0.25s;}
div.bannerleft{display:flex;  margin:10px; margin-left: 750px;}
div.bannerleft1{display:flex; font-size:27px; margin:10px;cursor:pointer; transition: all 0.25s;}
div.bannerleft2{display:flex; font-size:27px; margin:10px;cursor:pointer; transition: all 0.25s;}
div.bannerright1:hover{font-size:29px;}
div.bannerright2:hover{font-size:29px;}
div.bannerleft1:hover{font-size:29px;}
div.bannerleft2:hover{font-size:29px;}
ul.ultest1{display: flex; justify-content: center; position: relative; right: 13px; list-style: none; }
ul.ultest{display: flex; flex-wrap: wrap;list-style: none;  margin-left: 120px;}
ul.ultest2{display: flex; flex-wrap: wrap;list-style: none;  margin-left: 120px;}
ul.ultest3{display: flex; flex-wrap: wrap;list-style: none;  margin-left: 120px;}
ul.ultest4{display: flex; flex-wrap: wrap;list-style: none;  margin-left: 120px;}
li.litest h1{ font-family: 'InfinitySans-RegularA1';}
li.litest1 p{display:block; font-family: 'InfinitySans-RegularA1';}

li.litest1{margin: 5px; }
section.toptext{display:flex; position:absolute; top:102px;  left:12px;}
section.undertext{display:flex; position:absolute; top:100px;  left:110px;}
